
.dropdown-my {
    z-index: 1000;
    max-height: 300px;
    overflow: auto;
    min-width: 100px
}
.calendar-dropdown{
    min-width: 250px;
}

.shadow-dropdown {
    box-shadow: 0 2px 11px -3px rgb(30 30 30 / 54%)
}

.card-shadow {
    box-shadow: 0 2px 13px -5px rgb(50 50 50 / 35%)
}
