
.small-calendar {
    .date {
        font-size: 10px;

        .date-cell {
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #3d3d3d;
            font-weight: 500;
            cursor: pointer;
            border-radius: 20px;
            &:hover {
                background: var(--hover);

                color: var(--white);

            }
        }

        &.today {
            .date-cell {
                background: var(--active);
                color: var(--white);
            }
        }

        &.inactive {
            .date-cell {
                color: #a8a8a8;
            }
        }
    }
}