
.big-calendar{
    padding: 0 10px;
    height: 100%;


    .big-date{
        min-height: 100px;
        background: #f1f1f1;
        margin: 1px;
        padding-top: 6px;
        cursor: pointer;
        .big-date-cell{
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;
            &:hover{
                width: 25px;
                height: 25px;
                border-radius: 20px;
                background: var(--hover);
                color: var(--white);
            }
        }

        &.today {
            .big-date-cell {
                border-radius: 20px;
                background: var(--active);
                color: var(--white);
            }
        }

        &.inactive {
            .big-date-cell {
                color: #a8a8a8;
            }
        }

        .event-list{
            display: flex;
            flex-direction: column;
            row-gap: 3px;
            margin-top: 6px;
            .event-name{
                margin-bottom: 1px;
                transform: scale(1);
                animation: zoomOut .3s linear forwards;
                font-size: 10px;
                color: white;
                padding: 0px 4px;
                display: block;
                height: 16px;
                border-radius: 5px;
                white-space: nowrap;
                overflow-x: clip;
            }
            .see-more-btn{
                color: #3d3d3d;
                font-weight: 500;
                &:hover{
                    color: var(--mui-primary);
                }
            }
        }
    }

    @keyframes zoomOut {
        0%{transform: scale(0)}
        100%{transform: scale(1)}

    }




    .day-row{
        //background: red;
        min-height: 10px !important;
        .big-date {
            min-height: 10px;
        }
        transform: translateY(8px);
    }


}

