
.rich-texteditor {
    background: var(--gray-100);
    outline: none;
    border: none;


    .ql-picker-label {
        svg {
            width: 17px !important;
        }
    }

    .ql-formats {
        button {
            padding: 0 !important;
            width: 23px !important;
            font-size: 12px;

            svg {
                width: 13px;
            }
        }
    }

    .ql-toolbar.ql-snow, .ql-container.ql-snow {
        border: none;
    }

    .ql-editor {
        border: none !important;
    }

    .ql-editor {
        color: #656565;
    }


    .ql-snow .ql-picker.ql-header .ql-picker-label::before, .ql-snow .ql-picker.ql-header .ql-picker-item::before {
        color: #787676;
        font-weight: 400;
        font-size: 13px;

    }


    .agenda-textarea {
        .ql-container {
            .ql-editor {
                min-height: 160px;
                padding-top: 2px;
            }
        }
    }

}