
.add-event-modal {
    overflow: hidden;
    max-height: 90vh;
    width: 500px;
    overflow-y: auto;
    top: 30%;
    transition: all .4s ease;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        background: transparent;
        width: 10px;
        border-radius: 100px;
    }
    //&::-webkit-scrollbar-thumb{
    //    background: var(--hover);
    //    width: 10px;
    //    padding: 30px;
    //    margin: 50px;
    //    border-radius: 30px;
    //}


    .close-btn {
        position: fixed;
        right: 16px;
        top: 14px;
        z-index: 1003;
    }

    .tab-root {
        display: flex;
        width: 1000px;
        transition: all .2s ease-out;
    }

    .tab {
        position: relative;

        &.tab-one {
            width: 100%;
        }

        &.tab-two {
            width: 100%;
        }

        //&.open-tab{
        //    background: #81ff89;
        //}
        //&.hide-tab{
        //    background: #ffa65f;
        //}
    }


    .event-input-field {
        .event-label-icon {
            padding-top: 10px;

        }
    }

    .users-list {
        max-height: 300px;
        overflow-y: auto;

        li {
            list-style: none;
            font-size: 12px;
            color: #343434;
            padding: 5px 4px;
        }
    }


    .notifications{
        &:hover >  .notification-close{
            display: block;
        }
        .notification-close{
            display: none;
        }
    }

}


.date-chooser {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        text-decoration-color: var(--hover);
    }
}

.react-calendar-update{
    .small-calendar{
        width: 250px;
    }
}