

.add-event-modal {
    overflow: hidden;

    .close-btn {
        position: fixed;
        right: 16px;
        top: 14px;
    }

    .tab-root {
        display: flex;
        width: 1000px;
        transition: transform .2s ease-out;
    }

    .tab {
        position: relative;
        &.tab-one {
            width: 100%;
        }

        &.tab-two {
            width: 100%;
        }
        //&.open-tab{
        //    background: #81ff89;
        //}
        //&.hide-tab{
        //    background: #ffa65f;
        //}
    }


    .event-input-field {
        .event-label-icon {
            padding-top: 10px;
        }
    }

    .users-list {
        max-height: 300px;
        overflow-y: auto;

        li {
            list-style: none;
            font-size: 12px;
            color: #343434;
            padding: 5px 4px;
        }
    }

}