@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins', sans-serif;;
}

li{
    list-style: none;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


:root {
    --header-height: 120px;
    --hover: rgba(123, 163, 255, 0.65);
    --active: rgb(44, 101, 236);
    --white: rgb(243, 243, 243);
    --gray-100: rgb(243 244 246 / 1);
    --gray-200: rgb(234, 234, 234);
    --gray-300: rgb(223, 223, 227);
    --mui-primary: rgb(46, 106, 250);
}

